<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">周宇盛</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>巴比特加速器 8BTC Boost</li>
        <li>zhouys@8btc.om</li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <p class="text">
          8BTC is the biggest blockchain medium and community in China, which has the longest history.
          8BTC Boost is an strategic brand belonging to 8BTC, and offers one-stop services to help innovators of blockchain to land market in China and the world, including propagation, investment, legal compliance etc.
          
          “巴比特”是中国最早最大的区块链媒体和社区。
          “巴比特加速器”是巴比特旗下的战略品牌，为区块链领域的创新者提供一站式的投资、投行服务、全球化加速、媒体活动支持、法律合规化等服务，帮助优质区块链技术企业在中国和全球落地。
      </p>
    </div>

  </div>

</footer>